/*Top Container*/
div.top-container{
    text-align: center;
    color: coral;
    background-color: rgb(18, 137, 255);
    padding: 94px 0px 8px 0px;
}
hr.common{
    border: 12px dotted crimson;
    border-bottom: 0px;
    width: 100px;
    position: relative;
    top: 46px;
}
h1.Hello{
    color: #2b00ffc6;
    text-align: center;
    padding-top: 64px;
}
p.introduction{
    font-size: 14pt;
    width: 500px;
    text-align: center;
    padding-left: 489px;
}

/*Middle container*/
div.skills{
    padding-top: 86px;
}
h1.skills{
    padding: 13px 0px 20px;
    color: greenyellow;
    text-align: center;
    margin: 0px;
}
div.person-typing{
    width: 400px;
    position: relative;
    top: -54px;
    left: 150px;
}
div.web-designing{
    width: 500px;
    position: absolute;
    top: 934px;
    left: 630px;
    font-size: 14pt;
}
div.cake{
    position: relative;
    left: 265px;
    width: 1102px;
}
div.baking{
    width: 500px;
    position: relative;
    right: -625px;
    bottom: 300px;
    font-size: 14pt;
}
div.contact-me{
    text-align: center;
    font-size: 14pt;
    height: 160px;
    padding-top: 82px;
}
p.contact-message{
    padding: 30px 0px 30px;
}
/*All copied from CSS button generator https://css3buttongenerator.com/*/
button.Varun-contact {
  background: #09ff00;
  background-image: -webkit-linear-gradient(top, #09ff00, #23afc4);
  background-image: -moz-linear-gradient(top, #09ff00, #23afc4);
  background-image: -ms-linear-gradient(top, #09ff00, #23afc4);
  background-image: -o-linear-gradient(top, #09ff00, #23afc4);
  background-image: linear-gradient(to bottom, #09ff00, #23afc4);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffd900;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: dotted #ff0000 3px;
  text-decoration: none;
  margin-bottom: 100px;
}

button.Varun-contact:hover {
  background: #fcf63c;
  background-image: -webkit-linear-gradient(top, #fcf63c, #3498db);
  background-image: -moz-linear-gradient(top, #fcf63c, #3498db);
  background-image: -ms-linear-gradient(top, #fcf63c, #3498db);
  background-image: -o-linear-gradient(top, #fcf63c, #3498db);
  background-image: linear-gradient(to bottom, #fcf63c, #3498db);
  text-decoration: none;
}